<!DOCTYPE html>
<html>

<head>
    <base href="/" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css" rel="stylesheet"/>


    <link href="react-notifications/lib/notifications.css" rel="stylesheet"/>

    <!-- Add to home screen app  -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">

    <title>Lerkendal Invitational</title>
</head>

<body>
    <div id='root'></div>
</body>

</html>
