@import 'colors.less';
@import 'spinner.less';

@text-color: black;
// @spinner-color: #0057e7;
@spinner-color: #1976D2;

.header-bg-right {
    background-image: url("/img/bp-right.png");
}

.header-img {
    width: 100%;
    height: 100%;
}

.center-text {
    text-align: center;
}

.main-content {
    margin-top: 15px;
}

.Message.log {
  color: #bbb;
}

.otherauthor {
  font-weight: bold;
  color: #888;
  margin: 0 5px 0 0;
}

.meauthor {
  color: #b6191e;
  margin: 0 5px 0 0;
}


.messageForm {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.messageForm button {
    width: 100%;
}

.MessageForm input, .MessageForm button {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: inherit;
  height: 100%;
  outline: none;
  width: 100%;
}

.MessageForm input {
  padding: 0 0 0 4px;
}

.listContainer {
    margin-top: 20px;
}

.bold-text {
    font-weight: bold;
}

.listContainer a{
    color: black !important;
}
.messageList {
    height: 500px;
    overflow-y: scroll;
    // padding-bottom: 120px;
}

.chat {
    height:100%;
    padding-bottom: 50px;
}

.rce-mbox-photo--img img {
    max-height: 100px !important;
}

.modal-content img {
    max-width: 100%;
}

.float-right {
    float: right;
}

.no-margin-btm {
    margin-bottom: 0 !important;
}


// Loading spinner material design

.loader {
  position: relative;
  margin: 0 auto;
  width: 54px;
  height: 54px;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: @spinner-color;
  }
  40% {
    stroke: @spinner-color;
  }
  66% {
    stroke: @spinner-color;
  }
  80%,
  90% {
    stroke: @spinner-color;
  }
}

.costume-contestant img {
    max-width: 85%;
}

.navbar {
    background-image: url("/static/img/wheader.jpeg");
}
