{% extends "base.html" %} {% block content %}


{% for table in tables %}
    <div class="col-md-5">
    <table class="table table-striped">
        <caption>Gruppe {{loop.index}} </caption>
        <tr>
            <th>Plass</th>
            <th>Lagnavn</th>
            <th>Medlem 1</th>
            <th>Medlem 2</th>
            <th>Poeng</th>
        </tr>

        {% for team in table %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{team.teamname}}</td>
                <td>{{team.member1}}</td>
                <td>{{team.member2}}</td>
                <td>{{team.points}}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endfor %} 


{% endblock %}