{% extends "base.html" %} {% block content %}

<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    {% for table in tables %} 
    {%- if (loop.index + 1) is divisibleby 2 -%}
	<div class="row">
		{%- endif -%}
		<div class="col-md-6 col-lg-6">
			<div class="table-responsive">
				<table class="table table-striped">
					<caption>Gruppe {{loop.index}} </caption>
					<tr>
						<th>Plass</th>
						<th>Lagnavn</th>
						<th>Medlem 1</th>
						<th>Medlem 2</th>
						<th>Poeng</th>
					</tr>

					{% for team in table %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{team.teamname}}</td>
						<td>{{team.member1}}</td>
						<td>{{team.member2}}</td>
						<td>{{team.points}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
        {%- if ((loop.index ) is divisibleby 2)  -%}
	</div>
	{%- endif -%} {% endfor %}
</div>
{% endblock %}